* {
  font-family: 'Roboto';
}
.bg-container {
  min-height: 100vh;
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
}
.emoji-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.emoji-list-container {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .emoji-list-container {
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .emoji-list-container {
    width: 40%;
  }
}
